<div class="hero">
<br/>
  <div class="frosty col-10 offset-1 text-center">
  <br/>
    <h3>Adventure awaits</h3>
    <br/>
    <h2>go explore</h2>
    <br/>
    <%= link_to 'Learn More', courses_path , class: 'btn btn-success'%>
    <br/><br/>
  </div>
</div>
<br/>
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <i class="fa fa-map-o fa-2x" aria-hidden="true"></i>
    <br/>
    <p>Choose from any number of local or not trips to join with amazing people</p>
  </div>

  <div class="col-12 col-sm">
    <i class="fa fa-map-o fa-2x" aria-hidden="true"></i>
    <br/>
    <p>Do you have a favorite hiking place? Why not to share it!</p>
  </div>

  <div class="col-12 col-sm">
    <i class="fa fa-map-o fa-2x" aria-hidden="true"></i>
    <br/>
    <p>Learn with community of like-minded individuals</p>
  </div>
 </div> 






















