<div class="hero">
<br/>
  <div class="frosty col-10 offset-1 text-center">
  <br/> <br/><br/>
    <h3>Code and Lanch your own Web App</h3>
    <br/>
    <h4 class="skiny">Learn the most relevant Technical Skills</h4>
    <br/><br/>
    <%= link_to 'Learn More', courses_path , class: 'btn btn-success'%>
     <br/><br/><br/>
  </div>
</div>
<br/>
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <i class="fa fa-map-o fa-2x" aria-hidden="true"></i>
    <br/>
    <p>Step by step video instructions on how to buld a responsive app in one weekend</p>
  </div>

  <div class="col-12 col-sm">
    <i class="fa fa-map-o fa-2x" aria-hidden="true"></i>
    <br/>
    <p>Learn the latest widely used technologies like GitHub, Heroku, AWS, Ruby on Rails </p>
  </div>

  <div class="col-12 col-sm">
    <i class="fa fa-map-o fa-2x" aria-hidden="true"></i>
    <br/>
    <p>Learn with community of like-minded individuals and team up for even more excing projects</p>
  </div>
 </div> 






















