// Place all the styles related to the lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lesson {
  background-color: #180D01;
  margin-top: 10px;
  height: 130px;
}
.section {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
}
.lesson a {
  color: white;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  font-size: 15px;
}
.lesson a b {
  font-weight: 100;
  font-size: 25px;
}
ul {
  list-style-type: none;
}

.section-li {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
 margin: 20px;
}

ul .header {
  font-size: 25px;
}
ul .header .fa {
  font-size: 20px;
}

.lessons li {
  background: black;
  color: white;
  margin:10px;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  padding:8px;
   font-size: 15px;
}

.lessons li b {
  font-size: 25px;
   font-weight: 100;
}
.lessons li p {
  margin: 0;
}




