@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Kameron|Quattrocento+Sans');
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Days+One|Indie+Flower');

nav{
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: image_url('pink.png');
}
.navbar-inverse a.navbar-brand {
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 100;
  color: goldenrod;
}
body{
  font-family: 'Muli', sans-serif;
  background: image_url('stardust.png');
}

.hero  {
  background: image_url('girl.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size:cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 8px #2a2a2a;
}
h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}
.frosty {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}
.frosty h1 {
  font-weight: 100;
  font-family: 'Muli', sans-serif;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}
.frosty h2 {
  font-weight: 200;
  font-family: 'Muli', sans-serif;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}
.btn {
  border-radius: 0;
}
.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  color: white;
}
.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding:10px;
}
.booyah-box h2, .booyah-box h1 {
  margin: 10px;
}

.help-block{
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2 px 8px;
  margin: 10px;
}
.clr {
  clear: both;
}

.course-index {
  background-color: rgba(36, 32, 33, 0.9);
}
title{
  color: goldenrod;
}
.title a {
  color: goldenrod;
  font-family: 'Days One', sans-serif;
  text-weight:200;
  text-decoration: none;
}
.image-main{
  border: 1px solid #ccc;
  border-color: black;
  box-shadow: 0px 1px 3px #2a2a2a;
  background-color: white;

  
}
.image-main img{
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}
.cr-show {
  font-family: 'Days One', sans-serif;
  color: goldenrod;
  border: 2px solid #ccc;
  border-color: goldenrod;
  padding-top: 8px;
  padding-bottom: 8px;
}

.patricipate{
    font-family: 'Days One', sans-serif;
}

.img-show{
  width: 900px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.text-describtion{
  position: absolute; 
  top: 150px; 
  left: 50px; 
  width: 100%; 
  font-size: 20px;
  font-family: 'Days One', sans-serif;
}







